<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="style.css">

    <title>VendasWeb</title>
</head>

<body>

    <nav class="">
        <a class="menu-item" href="#" data-target="home">Página Inicial</a>
        <div class="dropdown">
            <a class="menu-item" href="#" data-target="vendas">Vendas</a>
            <div class="dropdown-content">
                <a href="#">Efetuar venda</a>
                <a href="#">Agendar pedidos</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="menu-item" href="#" data-target="cadastros">Cadastros</a>
            <div class="dropdown-content">
                <a href="/cadastroCliente">Clientes</a>
                <a href="/cadastroProduto">Produtos</a>
                <a href="/cadastroEstado">Estado</a>
            </div>
        </div>
        <div class="dropdown">
            <a class="menu-item" href="#" data-target="relatorios">Relatórios</a>
            <div class="dropdown-content">
                <a href="#">Relatório de vendas</a>
                <a href="#">Lista de clientes</a>
                <a href="#">Lista de estados</a>
            </div>
        </div>
        <a class="menu-item" href="#" data-target="configuracoes">Configurações</a>
        <span class="n"></span>

        <div class="" id="conteudoNavbar">
            <form class="">
                <button class="" type="submit">Logout</button>
            </form>
        </div>
    </nav>

</body>

</html>